* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 550px;

}

.nav {
    background-color: #21222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 550px;
    font-family: 'Inter', sans-serif;
}

.brand {
    display: flex;
}

.react-logo {
    max-width: 2em;
}

.nav-brand {
    color: #61DAFB;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    padding: .5em 0;
}

.nav-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


/***** Main *****/

.container {
    background-color: #282D35;
    font-family: 'Inter', sans-serif;
    color: #fff;

    
}

.main-content  {
    padding: 2em 0;

}

.main-content h1 {
    padding: .6em 0;
    margin-left: -.6em;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-flex ul {
    width: 23em;
    list-style: none;
    margin-left: -.5em;
}



.content-flex ul li::before {
    content: "\2022";
    line-height: 1.8em;
    color: #61DAFB;
    display: inline-block;
    width: 1.5em;
    font-weight: 500;
    
}

.content-flex ul li::marker {
    content: " ";
}



/* .react-logo-2 g {
    fill: #33373E;
}
.react-logo-2 path {
    stroke: #33373E;
    stroke-width: 10px;
} */