* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 4em 0;
}

.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 550px;
    

}

.nav {
    background-color: #21222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 550px;
    font-family: 'Inter', sans-serif;
}

.brand {
    display: flex;
}

.react-logo {
    max-width: 2em;
}

.nav-brand {
    color: #61DAFB;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    padding: .5em 0;
}

.nav-text {
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 700;
}


/***** Main *****/

main {
    background-image: url("../assets/react-group.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 500%;
}


.container {
    background-color: #282D35;
    font-family: 'Inter', sans-serif;
    color: #fff;

    
}

.main-content  {
    padding: 2em 0;
}

.main-content h1 {
    padding: .6em 0;
    text-align: left;
    margin-left: -2.5em;
    letter-spacing: -0.05em;
    
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

 .main-list {
    max-width: 23em;
    margin-left: -2.5em;
}



.main-list > li::marker{
    line-height: 2.5em;
    color: #61DAFB;
    font-size: 1.3em;
    
}
.content-logo {
    margin-right: -1.5em;
}
.react-logo-2 {
    width: 8.5em;
   
    
}
